.stack-parent-vert, .stack-parent-horiz {
    display: flex;
}

.stack-parent-vert {
    flex-direction: column !important;
}

.stack-parent-horiz {
    flex-direction: row !important;
}

.stack-parent-vert > .stack-child, .stack-parent-horiz > .stack-child,
.stack-parent-vert > .stack-child-fit-to-parent, .stack-parent-horiz > .stack-child-fit-to-parent {
    position: relative !important;
    flex-basis: auto;
}

.stack-parent-vert > .stack-child-fit-to-parent, .stack-parent-horiz > .stack-child-fit-to-parent {
    width: 100%;
    height: 100%;
}

.stack-parent-vert > .stack-child, .stack-parent-horiz > .stack-child {
    flex-grow: 0;
    flex-shrink: 0;
}

.stack-parent-vert > .stack-child-fit-to-parent, .stack-parent-horiz > .stack-child-fit-to-parent {
    flex-grow: 1;
    flex-shrink: 1;
}